.searchContent{
    display: flex;
    width: 300px;
    height: 35px;
    background: #363636;
    padding: 1px;
    transition: all ease .3s;
    transform: scale(.9);
}

.searchContent:hover{
    transform: scale(1);
}

input,button{
    outline: none;
    border:none;
 
}

input{
    width: 88%;
    height: 100%;
    text-indent: 5px;
    background: #363636;
    color: white;
}

button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12%;
    height: 100%;
    font-size: .9em;
    color: white;
    background-color: rgba(0,0,0,.5);
}